@import url(https://fonts.googleapis.com/css?family=Slackey);

body {
  background: url(../images/desk.jpg);
}

#title {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    font-family: 'Slackey', cursive;
    -webkit-text-stroke: 1px white;
    color: black;
    text-shadow: 2px 2px white;
}
#title:hover {
  cursor:pointer;
}

#title h1 {
  font-size: 5em;
  margin-top: -20px;
}
#title h2 {
  font-size: 4em;
  margin-bottom: 0;
}
#message {
  display: none;
  float: right;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}
#score {
  display: none;
  float: right;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}
#card {
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  clear: both;
  padding: 25px;
}
