@import url(https://fonts.googleapis.com/css?family=Slackey);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
  background: url(../images/desk.jpg);
}

#title {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    font-family: 'Slackey', cursive;
    -webkit-text-stroke: 1px white;
    color: black;
    text-shadow: 2px 2px white;
}
#title:hover {
  cursor:pointer;
}

#title h1 {
  font-size: 5em;
  margin-top: -20px;
  max-width: 550px;
  margin: 0 auto;
  line-height: 1;
}
#message {
  display: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 400px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5em;
  color: white;
  font-weight: 700;
  background: white;
  opacity: .8;
}
#message p {
  margin-top: 10px;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}
#score {
  display: none;
  float: right;
  width: 200px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}
#score p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1em;
}
#controls {
  padding-top: 15px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.again {
  margin-top: 10px;
}
#card {
  max-width: 400px;
  height: 430px;
  margin: 0 auto;
  background-color: white;
  clear: both;
  padding: 10px;
  box-shadow: 4px 4px 2px #737373;
  perspective: 1000px;
}
#card p, h3 {
  font-family: 'Lato', sans-serif;
}
#card h3 {
    background: #0033cc;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
}
#card p {
  padding: 0 20px 0 20px;
}

.front img, .back img {
    width: 100%;
}

input.guess-submit, input.next, input.again {
  color: white;
  background: #3366ff;
  border-width: 0;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: .8em;
}
input.guess-submit:hover, input.next:hover, input.again:hover {
  background: #002699;
}
input.guess-input {
    padding: 10px;
    background: #ccd9ff;
    border: 1px solid #3366ff;
}
input.next, input.again {
  width: 100%;
  margin-left: 0;
}
@media (max-width: 920px) {
  * {
    box-sizing: border-box;
  }
  #score {
    float: none;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 400px;
    height: 90px;
    width: 100%;
  }
  #title h1 {
    font-size: 4.5em;
  }
}
@media (max-width: 500px) {
  #title h1 {
    font-size: 4.2em;
  }
}
